body {
	color: var(--text-color);
	background-color: var(--bg-color);
}

button {
	border-radius: 10px !important;
}

label {
	font-weight: 600;
}

/* Header */
.headerComponent {
	padding-top: 20px;
	position: relative;
	z-index: 12;
	background-color: var(--bg-color);
}

.headerTitle {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.headerElements {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.themeBtn {
	margin-left: 50px;
	cursor: pointer;
}

.themeText {
	cursor: pointer;
}

/* Filters */
.FilterComponent {
	padding: 10px;
	border-radius: 0 0 25px 25px;
	background-color: var(--bg-alt-color);
}

.filters,
.search {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.toggleFilters {
	display: none;
}

.search .searchByTitle {
	width: 400px;
}

.search .searchById {
	width: 200px;
}

/* Show List */
.showListContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.showInfo {
	margin: 10px;
	position: relative;
	width: fit-content;
	padding: 10px 20px;
	background-color: var(--bg-alt-color);
	border-radius: 8%;
	transition: transform 250ms ease-in-out;
	z-index: 10;
}

.showInfo:hover {
	transform: scale(1.02);
}

.showInfo img {
	width: 200px;
	border-radius: 20px;
}

.resultsNum {
	position: sticky;
	top: 25px;
	padding: 15px;
	margin: 15px;
	width: fit-content;
	display: inline-block;
	color: white;
	background-color: var(--blue);
	border-radius: 20px;
	z-index: 11;
}

/* Show Details */
.showDetailsComponent {
	min-height: calc(100vh - 250px);
}

.showData,
.otherShows {
	position: relative;
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
	z-index: 11;
}

.otherShowsHeading {
	margin-top: 40px;
}

.showPoster {
	width: 250px;
}

.otherShowsPoster {
	width: 150px;
	margin: 0 20px;
}

.showPoster img,
.otherShowsPoster img {
	width: 100%;
	border-radius: 20px;
	transition: transform 250ms ease-in-out;
}

.showPoster img:hover,
.otherShowsPoster img:hover {
	transform: scale(1.04);
}

.showContent {
	margin-left: 40px;
	text-align: left;
	width: 50%;
}

.backdrop {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	filter: brightness(25%);
	z-index: 1;
}
